<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="catd-title"> {{event.name}} </h5>
                <p class="card-text"> {{event.duration}} </p>
                <a href="#" class="btn btn-primary mr-3"> Take Admission </a>
                <a href="#" class="btn btn-warning"> View Details </a>
            </div>
            <div class="card-footer text-muted">
                {{event.instructor}}
            </div>
        </div>
    </div>
</div>