<div class="container">
    <div class="carousel slide mt-5" data-ride="carousel" id="pqr">
          
          <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#pqr" data-slide-to="0" class="active"></li>
              <li data-target="#pqr" data-slide-to="1"></li>
              <li data-target="#pqr" data-slide-to="2"></li>
            </ul>
              
             <!-- The slideshow -->
                <div class="carousel-inner">
                  
                  <div class="carousel-item active">
                    <img src="assets/p1.jpeg" alt="Los Angeles"  width="1200" height="500">
                    
                    <div class="carousel-caption text-center">
                       <h3 class="head-1"> Change Your Life. Start Here. </h3>
                       <p class="para-1"> THINK BIG ! THINK FAST ! THINK AHEAD ! </p>
                    </div>
                  
                  </div>
                  
                  <div class="carousel-item">
                    <img src="assets/p2.jpeg" alt="Chicago"  width="1200" height="500">
                    
                    <div class="carousel-caption text-center">
                      <h3 class="head-1">Your Future, Our Focus</h3>
                      <p class="para-1"> Let's Do This</p>
                    </div>
                  
                  </div>
                  
                  <div class="carousel-item ">
                    <img src="assets/p3.jpeg" alt="New York" width="1200" height="500">
                      
                      <div class="carousel-caption text-center">
                       <h3 class="head-1 p-1"> The Education You Want. The Attention You Deserve </h3>
                       <p class="para-1">WE ARE THE BEST !!!</p>
                     </div>
                  </div>
                
                 <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#pqr" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#pqr" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
                </div>						
      </div>
</div>